    <!-- FOOTER  -->
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">The Lost Chef</h5>
          <p class="grey-text text-lighten-4">© 2021 Copyright RottenTrailers Inc.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Executive Chefs</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/sebastian-campos-413659188">Sebastian Campos</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/jamesguandgongli">James Li</a></li>
            <li><a class="white-text" href="#!">Sophia Antonellis</a></li>
            <li><a class="white-text" href="#!">Blake Gordon</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/jeffcela/">Jeff Cela</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="https://github.com/scampos321">GitHub</a></li>
            <li><a class="white-text" href="https://github.com/jamesgli520">GitHub</a></li>
            <li><a class="white-text" href="https://github.com/SAntonellis">GitHub</a></li>
            <li><a class="white-text" href="https://github.com/wildkat246">GitHub</a></li>
            <li><a class="white-text" href="https://github.com/jeffcela">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->