{{!-- <p>
    <label>
    <input type="checkbox" value="{{ingredient.ingredients_name}}"/>
    <span>{{ingredient.ingredients_name}}</span>
    </label>
</p> --}}

<p>
    <label>
    <input type="checkbox" value="milk"/>
    <span>Milk</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="butter"/>
    <span>Butter</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="chicken"/>
    <span>Chicken</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="ground beef"/>
    <span>Ground Beef</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="apple"/>
    <span>Apples</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="honey"/>
    <span>Honey</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="shrimp"/>
    <span>Shrimp</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="carrots"/>
    <span>Carrots</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="celery"/>
    <span>Celery</span>
    </label>
</p>
<p>
    <label>
    <input type="checkbox" value="tomato"/>
    <span>Tomato</span>
    </label>
</p>