<h1>header</h1>

<nav class="transparent" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>
    
<div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br /><br />
          <img
            class="responsive"
            width="950"
            src="/images/additionalimgs/Header.png"
            alt=""
          />
          <div class="row center"></div>
          <!-- <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> -->
          <br /><br />
        </div>
      </div>
      <div class="parallax">
        <img
          src="/images/fullscreenbgs/homebg.png"
          alt="Unsplashed background img 1"
        />
      </div>
    </div>