{{!-- This is a modal with a card so that each ingreident can have a description and image when clicked --}}

<div id="modal-card" class="modal">
    <div class="modal-content">
        <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img src="{{ingredient-photo}}">
                    <span class="card-title">{{ingredient-name}}</span>
                </div>
                <div class="card-content">
                    <p>{{ingredient-description}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>