<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Lost Chef</title>
  <link rel="stylesheet" href="/">
  <link rel="stylesheet" href="/">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span></span>
        <a></a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ header }}}
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if logged_in}}
  <script></script>
  {{/if}}
</body>

</html>