{{!-- The partial is pulling in the navtigation --}}
{{> header }}


<div class="slider">
  <ul class="slides">
    <li>
      <img src="/images/backgrounds/home.png">
      <div class="caption center-align">
        <div class="container">
          <div class="row valign-wrapper">
            <div class="col s6 offset-s3 valign">
              <div class="card light z-depth-1">
                <div class="card-content white-text">
                  <span class="card-title">
                    <h5>Welcome To</h5>
                  </span>
                  <h1 class="header">The Lost Chef</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <img src="/images/backgrounds/home.png">
      <div class="caption center-align">
        <div class="container">
          <div class="row valign-wrapper">
            <div class="col s6 offset-s3 valign">
              <div class="card light z-depth-1">
                <div class="card-content white-text">
                  <span class="card-title">
                    <h5>About Us</h5>
                  </span>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit libero tempore provident quisquam
                    blanditiis nulla, nesciunt delectus sequi, minima perspiciatis mollitia, ab harum aspernatur earum
                    dolorum deleniti reprehenderit quo incidunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <img src="images/placeholder/800x400_d.jpg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>


<div class="flex-container-body">

  <div class="parallax-container">
    <div class="section no-pad-bot">
      <div class="flex-container">
        <div class="col s12 m6 center-align card-panel z-depth-1">
          <h5>Welcome To</h5><br>
          <h1 class="header col s12">The Lost Chef</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/backgrounds/home.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="row valign-wrapper">
    <div class="col s6 center">
      <h2>About the site</h2><br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis numquam, totam quidem aliquam harum, vel
        eaque ea molestias blanditiis quibusdam eius, voluptas nisi veritatis fugiat sapiente qui impedit a consequatur?
      </p>
    </div>
    <div class="col s6"><img class="materialboxed" width="100%" src="/images/additionalimgs/aboutthesite-home.png"
        alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="row valign-wrapper">
    <div class="col s6"><img class="materialboxed" width="100%" height="auto"
        src="/images/additionalimgs/calltoaction-home.png" alt="Unsplashed background img 2">
    </div>
    <div class="col s6 center">
      <h1>Thousands of recipes</h1><br>
      <p>Access all recipes by signing up!
      </p>
    </div>
  </div>

  <div class="flex-container">
    <img class="responsive" src="/images/backgrounds/abovefooterbg.png" alt="Unsplashed background img 2">
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <h4 class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
            id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
            ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque,
            posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl
            maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida
            ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae;</h4>
        </div>
      </div>
    </div>
  </div>


</div>

{{> footer }}