{{!-- The partial is pulling in the navtigation --}}
{{> header }}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
          <div class="row center">
            <img class="responsive-img" src="/images/additionalimgs/Headerwithbg.png" alt="">
          </div>
      </div>
  </div>
  <div class="parallax">
    <img class="bgimage" src="/images/backgrounds/home.png" alt="chopping board"/>
  </div>
</div>


<div class="row">
    <div class="col s6 m6 card-image center-align">
      <img src="/images/backgrounds/abovefooterbg.png">
    </div>
    <div class="col s6 m6 left-align">
      <h1>About the lost chef</h1>
      <p>
        Here at The Lost Chef you obtain the power to use your onhand ingredients to combat unidentified craving. No more staring amorously into the fridge pondering what I should make. The Lost Chef uses your personalized fridge to match recipes you can make without having to go to the grocery store.
      </p>
    </div> 
</div>


<div class="row">
  <div class="col s6 m6">
    <h1>"</h1>
    <h3 class="center-align">
      You don’t need a silver fork to eat good food. <br> -Paul Prudhomme
    </h3>
    <h1 class="right-align">"</h1>
  </div>
  <div class="col s6 m6">
    <div class="card-image center-align">
      <img src="/images/additionalimgs/shareyourcreations2-home.png">
    </div>
  </div>
</div>



<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="/images/backgrounds/loginpage-bg.png" alt="Unsplashed background img 2">
  </div>
              <div class="container">
                <div class="section">
                  <div class="row">
                    <div class="col s12 center">
                      
                      <h3><i class="mdi-content-send brown-text"></i></h3>
                      <div class="row white-text">
                      <h4>Help is on its way!</h4>
                      <p class="left-align light">
                        Still cant find what to eat? Reach out to one of our Executive Chefs for additional support.
                      </p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>


           




{{> footer }}