
<section>
  <div class="container">
    <div class="row">
        <div class="col s6">
          <h1 class="header center black-text">register</h1>
          <h3 class="center black-text">to gain access</h3>
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup">name:</label>
              <input class="form-input" type="text" id="name-signup" placeholder="first and last name"/>
            </div>
            <div class="form-group">
              <label for="email-signup">email:</label>
              <input class="form-input" type="text" id="email-signup" placeholder="email@email.com" />
            </div>
            <div class="form-group">
              <label for="password-signup">password:</label>
              <input class="form-input" type="password" id="password-signup" placeholder="At least 6 digits" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
          </form>
        </div>
         <div class="col s4"></div>
        <div class="col s1">
          <img src="/images/backgrounds/loginpage-bg.png">
        </div>
    </div>
  </div>

  <script src="./js/register.js"></script>
</section>
