{{> header}}
<div class="container">
  <div class="row">
      <div>
          <h1>my fridge</h1>
          
          <form action="#">
          {{#each ingredientsListItems}}
           {{> fridge-items}}
           {{/each}}

          </form>
          
      </div>
  </div>
</div>
{{> footer}}